.language-jai {
	/* Any var prefix can have the following suffixes; i.e if the prefix is `default` then all these are valid: */
	--default-fg: #FFF;
	--default-bg: #000;
	--default-style: normal;
	--default-weight: bold;
	--default-decoration: none;

	/* Any var prefix can define as many of the suffixes as you want; the rest will fall back to the defaults above. */
	--keyword-fg: #00F;
	--keyword-cast-fg: #FFF;
	--keyword-cast-v1-bg: #222;
	--keyword-cast-v2-bg: #300;
	--operator-cast-v3-fg: #F88;
	--operator-cast-v3-bg: #003;

	--variable-fg: #BBB;
	--variable-language-fg: #C8C;
	--variable-constant-fg: #8FF;
	--variable-stdLib-fg: #CF8;
	--variable-stdLib-constant-fg: #0DD;
	--variable-stdLib-context-fg: #C63;
	--variable-stdLib-moduleParam-fg: #FCC;
	--variable-stdLib-programParam-fg: #CCF;
	--variable-context-fg: #C43;
	--variable-context-constant-fg: #CC0;

	--field-fg: #808;
	--field-enum-fg: #0AC;

	--builtIn-fg: #80F;
	--builtIn-special-fg: #8F0;
	--builtIn-stdLib-fg: #FC8;

	--type-fg: #088;
	--type-enum-fg: #0AC;
	--type-baked-fg: #0CC;
	--type-baked-style: italic;

	--literal-fg: #FF0;
	--number-fg: #88F;
	--number-style: normal;
	--number-prefix-weight: normal;
	--number-float-exponent-weight: normal;

	--operator-fg: #F00;
	--operator-style: normal;
	--operator-bake-fg: #F88;
	--operator-bake-style: italic;

	--punctuation-fg: #666;
	--punctuation-style: normal;
	--punctuation-forExpansionInvoke-fg: #A50;
	--punctuation-quote-fg: #C6C;
	--punctuation-directive-fg: #FFF;

	--string-fg: #F0F;
	--string-here-bg: #303;
	--string-here-termiator-fg: #FFF;
	--string-here-termiator-bg: #808;
	--string-path-decoration: underline;

	--char-escape-bg: #330;
	--subst-fg: #0FF;

	--declaration-style: italic;

	--struct-fg: #880;
	--struct-inherited-decoration: underline;

	--proc-fg: #F80;
	--forExpansion-fg: #F40;

	--params-bg: #400;
	--module-params-bg: #044;
	--program-params-bg: #004;

	--comment-fg: #080;
	--comment-weight: normal;
	--comment-block-bg: #030;
	--doctag-fg: #FFF;
	--doctag-weight: bold;
	--doctag-bug-bg: #F00;
	--doctag-fixme-bg: #F0F;
	--doctag-hack-bg: #08F;
	--doctag-later-bg: #888;
	--doctag-maybe-bg: #F80;
	--doctag-note-bg: #080;
	--doctag-no_checkin-fg: #000;
	--doctag-no_checkin-bg: #FFF;
	--doctag-optimise-bg: #800;
	--doctag-test-fg: #000;
	--doctag-test-bg: #0F0;
	--doctag-todo-fg: #000;
	--doctag-todo-bg: #FF0;
	--doctag-question-bg: #80F;
	--doctag-xxx-fg: #FF0;
	--doctag-xxx-bg: #808;

	--meta-fg: #F68;
	--meta-bg: #660;
	--meta-comma-fg: #888;
	--meta-comma-bg: #440;

	--note-fg: #000;
	--note-bg: #CCC;

	--directive-fg: #FFA;
	--directive-bg: #660;
	--directive-modifier-fg: #CC0;
	--directive-import-fg: #CC0;
	--directive-modify-fg: #0C0;
	--directive-modify-bg: #305;
	--directive-module_parameters-fg: #0CC;

	--asm-directive-fg: #0CC;
	--asm-directive-flags-bg: #066;
	--asm-directive-flags-comma-fg: #FFF;
	--asm-directive-flag-fg: #6C6;

	--asm-directive-block-bg: #222;

	--asm-mnemonic-fg: #FDA;
	--asm-size-fg: #FAA;
	--asm-size-punctuation-fg: #FF0;
	--asm-size-const-fg: #8FF;
	--asm-size-type-fg: #6AA;

	--asm-register-fg: #FFF;
	--asm-register-bg: #80F;

	color: var(--default-fg);
	background-color: var(--default-bg);
	font-style: var(--default-style);
	font-weight: var(--default-weight);
	text-decoration: var(--default-decoration);

	tab-size: 4;
}

.hljs-keyword {
	color: var(--keyword-fg, --default-fg);
	background-color: var(--keyword-bg, --default-bg);
	font-style: var(--keyword-style, --default-style);
	font-weight: var(--keyword-weight, --default-weight);
	text-decoration: var(--keyword-decoration, --default-decoration);

	&.cast_ {
		color: var(--keyword-cast-fg, var(--keyword-fg, --default-fg));
		background-color: var(--keyword-cast-bg, var(--keyword-bg, --default-bg));
		font-style: var(--keyword-cast-style, var(--keyword-style, --default-style));
		font-weight: var(--keyword-cast-weight, var(--keyword-weight, --default-weight));
		text-decoration: var(--keyword-cast-decoration, var(--keyword-decoration, --default-decoration));

		& > .hljs-_BalancedParens {
			color: var(--keyword-cast-fg, var(--punctuation-fg, --default-fg));
			background-color: var(--keyword-cast-bg, var(--punctuation-bg, --default-bg));
			font-style: var(--keyword-cast-style, var(--punctuation-style, --default-style));
			font-weight: var(--keyword-cast-weight, var(--punctuation-weight, --default-weight));
			text-decoration: var(--keyword-cast-decoration, var(--punctuation-decoration, --default-decoration));

			& > .hljs-punctuation.paren_,
			& > .hljs-punctuation.comma_ {
				color: var(--keyword-cast-fg, var(--punctuation-fg, --default-fg));
				background-color: var(--keyword-cast-bg, var(--punctuation-bg, --default-bg));
				font-style: var(--keyword-cast-style, var(--punctuation-style, --default-style));
				font-weight: var(--keyword-cast-weight, var(--punctuation-weight, --default-weight));
				text-decoration: var(--keyword-cast-decoration, var(--punctuation-decoration, --default-decoration));
			}
		}

		&.v1__ {
			color: var(--keyword-cast-v1-fg, var(--keyword-fg, --default-fg));
			background-color: var(--keyword-cast-v1-bg, var(--keyword-bg, --default-bg));
			font-style: var(--keyword-cast-v1-style, var(--keyword-style, --default-style));
			font-weight: var(--keyword-cast-v1-weight, var(--keyword-weight, --default-weight));
			text-decoration: var(--keyword-cast-v1-decoration, var(--keyword-decoration, --default-decoration));
		}
		&.v2__ {
			color: var(--keyword-cast-v2-fg, var(--keyword-fg, --default-fg));
			background-color: var(--keyword-cast-v2-bg, var(--keyword-bg, --default-bg));
			font-style: var(--keyword-cast-v2-style, var(--keyword-style, --default-style));
			font-weight: var(--keyword-cast-v2-weight, var(--keyword-weight, --default-weight));
			text-decoration: var(--keyword-cast-v2-decoration, var(--keyword-decoration, --default-decoration));
		}
	}
}

.hljs-operator {
	color: var(--operator-fg, --default-fg);
	background-color: var(--operator-bg, --default-bg);
	font-style: var(--operator-style, --default-style);
	font-weight: var(--operator-weight, --default-weight);
	text-decoration: var(--operator-decoration, --default-decoration);

	&logical_.modifier__ {
		color: var(--operator-modifier-fg, var(--operator-fg, --default-fg));
		background-color: var(--operator-modifier-bg, var(--operator-bg, --default-bg));
		font-style: var(--operator-modifier-style, var(--operator-style, --default-style));
		font-weight: var(--operator-modifier-weight, var(--operator-weight, --default-weight));
		text-decoration: var(--operator-modifier-decoration, var(--operator-decoration, --default-decoration));
	}
	&.bake_ {
		color: var(--operator-bake-fg, var(--operator-fg, --default-fg));
		background-color: var(--operator-bake-bg, var(--operator-bg, --default-bg));
		font-style: var(--operator-bake-style, var(--operator-style, --default-style));
		font-weight: var(--operator-bake-weight, var(--operator-weight, --default-weight));
		text-decoration: var(--operator-bake-decoration, var(--operator-decoration, --default-decoration));
	}

	&.cast_.v3__ {
		color: var(--operator-cast-v3-fg, var(--operator-fg, --default-fg));
		background-color: var(--operator-cast-v3-bg, var(--operator-bg, --default-bg));
		font-style: var(--operator-cast-v3-style, var(--operator-style, --default-style));
		font-weight: var(--operator-cast-v3-weight, var(--operator-weight, --default-weight));
		text-decoration: var(--operator-cast-v3-decoration, var(--operator-decoration, --default-decoration));

		& > .hljs-_BalancedParens {
			color: var(--operator-cast-v3-fg, var(--operator-fg, --default-fg));
			background-color: var(--operator-cast-v3-bg, var(--operator-bg, --default-bg));
			font-style: var(--operator-cast-v3-style, var(--operator-style, --default-style));
			font-weight: var(--operator-cast-v3-weight, var(--operator-weight, --default-weight));
			text-decoration: var(--operator-cast-v3-decoration, var(--operator-decoration, --default-decoration));

			& > .hljs-punctuation.paren_,
			& > .hljs-punctuation.comma_ {
				color: var(--operator-cast-v3-fg, --default-fg);
				background-color: var(--operator-cast-v3-bg, --default-bg);
				font-style: var(--operator-cast-v3-style, --default-style);
				font-weight: var(--operator-cast-v3-weight, --default-weight);
				text-decoration: var(--operator-cast-v3-decoration, --default-decoration);
			}
		}
	}
}

.hljs-variable {
	color: var(--variable-fg, --default-fg);
	background-color: var(--variable-bg, --default-bg);
	font-style: var(--variable-style, --default-style);
	font-weight: var(--variable-weight, --default-weight);
	text-decoration: var(--variable-decoration, --default-decoration);

	&.language_ {
		color: var(--variable-language-fg, var(--variable-fg, --default-fg));
		background-color: var(--variable-language-bg, var(--variable-bg, --default-bg));
		font-style: var(--variable-language-style, var(--variable-style, --default-style));
		font-weight: var(--variable-language-weight, var(--variable-weight, --default-weight));
		text-decoration: var(--variable-language-decoration, var(--variable-decoration, --default-decoration));
	}
	&.constant_ {
		color: var(--variable-constant-fg, var(--variable-fg, --default-fg));
		background-color: var(--variable-constant-bg, var(--variable-bg, --default-bg));
		font-style: var(--variable-constant-style, var(--variable-style, --default-style));
		font-weight: var(--variable-constant-weight, var(--variable-weight, --default-weight));
		text-decoration: var(--variable-constant-decoration, var(--variable-decoration, --default-decoration));
	}

	&.stdLib_ {
		color: var(--variable-stdLib-fg, var(--variable-fg, --default-fg));
		background-color: var(--variable-stdLib-bg, var(--variable-bg, --default-bg));
		font-style: var(--variable-stdLib-style, var(--variable-style, --default-style));
		font-weight: var(--variable-stdLib-weight, var(--variable-weight, --default-weight));
		text-decoration: var(--variable-stdLib-decoration, var(--variable-decoration, --default-decoration));

		&.constant___ {
			color: var(--variable-stdLib-constant-fg, var(--variable-constant-fg, var(--variable-fg, --default-fg)));
			background-color: var(--variable-stdLib-constant-bg, var(--variable-constant-bg, var(--variable-bg, --default-bg)));
			font-style: var(--variable-stdLib-constant-style, var(--variable-constant-style, var(--variable-style, --default-style)));
			font-weight: var(--variable-stdLib-constant-weight, var(--variable-constant-weight, var(--variable-weight, --default-weight)));
			text-decoration: var(--variable-stdLib-constant-decoration, var(--variable-constant-decoration, var(--variable-decoration, --default-decoration)));
		}
		&.context___ {
			color: var(--variable-stdLib-context-fg, var(--variable-fg, --default-fg));
			background-color: var(--variable-stdLib-context-bg, var(--variable-bg, --default-bg));
			font-style: var(--variable-stdLib-context-style, var(--variable-style, --default-style));
			font-weight: var(--variable-stdLib-context-weight, var(--variable-weight, --default-weight));
			text-decoration: var(--variable-stdLib-context-decoration, var(--variable-decoration, --default-decoration));
		}
		&.moduleParam___ {
			color: var(--variable-stdLib-moduleParam-fg, var(--params-fg, var(--variable-fg, --default-fg)));
			background-color: var(--variable-stdLib-moduleParam-bg, var(--params-bg, var(--variable-bg, --default-bg)));
			font-style: var(--variable-stdLib-moduleParam-style, var(--params-style, var(--variable-style, --default-style)));
			font-weight: var(--variable-stdLib-moduleParam-weight, var(--params-weight, var(--variable-weight, --default-weight)));
			text-decoration: var(--variable-stdLib-moduleParam-decoration, var(--params-decoration, var(--variable-decoration, --default-decoration)));
		}
		&.programParam___ {
			color: var(--variable-stdLib-programParam-fg, var(--params-fg, var(--variable-fg, --default-fg)));
			background-color: var(--variable-stdLib-programParam-bg, var(--params-bg, var(--variable-bg, --default-bg)));
			font-style: var(--variable-stdLib-programParam-style, var(--params-style, var(--variable-style, --default-style)));
			font-weight: var(--variable-stdLib-programParam-weight, var(--params-weight, var(--variable-weight, --default-weight)));
			text-decoration: var(--variable-stdLib-programParam-decoration, var(--params-decoration, var(--variable-decoration, --default-decoration)));
		}
	}
	&.context_ {
		color: var(--variable-context-fg, var(--variable-fg, --default-fg));
		background-color: var(--variable-context-bg, var(--variable-bg, --default-bg));
		font-style: var(--variable-context-style, var(--variable-style, --default-style));
		font-weight: var(--variable-context-weight, var(--variable-weight, --default-weight));
		text-decoration: var(--variable-context-decoration, var(--variable-decoration, --default-decoration));

		&.constant__ {
			color: var(--variable-context-constant-fg, var(--variable-constant-fg, var(--variable-fg, --default-fg)));
			background-color: var(--variable-context-constant-bg, var(--variable-constant-bg, var(--variable-bg, --default-bg)));
			font-style: var(--variable-context-constant-style, var(--variable-constant-style, var(--variable-style, --default-style)));
			font-weight: var(--variable-context-constant-weight, var(--variable-constant-weight, var(--variable-weight, --default-weight)));
			text-decoration: var(--variable-context-constant-decoration, var(--variable-constant-decoration, var(--variable-decoration, --default-decoration)));
		}
	}
}

.hljs-built_in {
	color: var(--builtIn-fg, --default-fg);
	background-color: var(--builtIn-bg, --default-bg);
	font-style: var(--builtIn-style, --default-style);
	font-weight: var(--builtIn-weight, --default-weight);
	text-decoration: var(--builtIn-decoration, --default-decoration);

	&.special {
		color: var(--builtIn-special-fg, var(--builtIn-fg, --default-fg));
		background-color: var(--builtIn-special-bg, var(--builtIn-bg, --default-bg));
		font-style: var(--builtIn-special-style, var(--builtIn-style, --default-style));
		font-weight: var(--builtIn-special-weight, var(--builtIn-weight, --default-weight));
		text-decoration: var(--builtIn-special-decoration, var(--builtIn-decoration, --default-decoration));
	}
	&.stdLib_ {
		color: var(--builtIn-stdLib-fg, var(--builtIn-fg, --default-fg));
		background-color: var(--builtIn-stdLib-bg, var(--builtIn-bg, --default-bg));
		font-style: var(--builtIn-stdLib-style, var(--builtIn-style, --default-style));
		font-weight: var(--builtIn-stdLib-weight, var(--builtIn-weight, --default-weight));
		text-decoration: var(--builtIn-stdLib-decoration, var(--builtIn-decoration, --default-decoration));
	}
}

.hljs-type {
	color: var(--type-fg, --default-fg);
	background-color: var(--type-bg, --default-bg);
	font-style: var(--type-style, --default-style);
	font-weight: var(--type-weight, --default-weight);
	text-decoration: var(--type-decoration, --default-decoration);

	&.enum_ {
		color: var(--type-enum-fg, var(--type-fg, --default-fg));
		background-color: var(--type-enum-bg, var(--type-bg, --default-bg));
		font-style: var(--type-enum-style, var(--type-style, --default-style));
		font-weight: var(--type-enum-weight, var(--type-weight, --default-weight));
		text-decoration: var(--type-enum-decoration, var(--type-decoration, --default-decoration));
	}
	&.baked_ {
		color: var(--type-baked-fg, var(--type-fg, --default-fg));
		background-color: var(--type-baked-bg, var(--type-bg, --default-bg));
		font-style: var(--type-baked-style, var(--type-style, --default-style));
		font-weight: var(--type-baked-weight, var(--type-weight, --default-weight));
		text-decoration: var(--type-baked-decoration, var(--type-decoration, --default-decoration));
	}
}

.hljs-literal {
	color: var(--literal-fg, --default-fg);
	background-color: var(--literal-bg, --default-bg);
	font-style: var(--literal-style, --default-style);
	font-weight: var(--literal-weight, --default-weight);
	text-decoration: var(--literal-decoration, --default-decoration);
}

.hljs-number {
	color: var(--number-fg, --default-fg);
	background-color: var(--number-bg, --default-bg);
	font-style: var(--number-style, --default-style);
	font-weight: var(--number-weight, --default-weight);
	text-decoration: var(--number-decoration, --default-decoration);

	&.prefix__ {
		color: var(--number-prefix-fg, var(--number-fg, --default-fg));
		background-color: var(--number-prefix-bg, var(--number-bg, --default-bg));
		font-style: var(--number-prefix-style, var(--number-style, --default-style));
		font-weight: var(--number-prefix-weight, var(--number-weight, --default-weight));
		text-decoration: var(--number-prefix-decoration, var(--number-decoration, --default-decoration));
	}

	&.integer_ {
		color: var(--number-integer-fg, var(--number-fg, --default-fg));
		background-color: var(--number-integer-bg, var(--number-bg, --default-bg));
		font-style: var(--number-integer-style, var(--number-style, --default-style));
		font-weight: var(--number-integer-weight, var(--number-weight, --default-weight));
		text-decoration: var(--number-integer-decoration, var(--number-decoration, --default-decoration));
	}

	&.float_ {
		color: var(--number-float-fg, var(--number-fg, --default-fg));
		background-color: var(--number-float-bg, var(--number-bg, --default-bg));
		font-style: var(--number-float-style, var(--number-style, --default-style));
		font-weight: var(--number-float-weight, var(--number-weight, --default-weight));
		text-decoration: var(--number-float-decoration, var(--number-decoration, --default-decoration));

		&.exponent__ {
			color: var(--number-float-exponent-fg, var(--number-float-fg, var(--number-fg, --default-fg)));
			background-color: var(--number-float-exponent-bg, var(--number-float-bg, var(--number-bg, --default-bg)));
			font-style: var(--number-float-exponent-style, var(--number-float-style, var(--number-style, --default-style)));
			font-weight: var(--number-float-exponent-weight, var(--number-float-weight, var(--number-weight, --default-weight)));
			text-decoration: var(--number-float-exponent-decoration, var(--number-float-decoration, var(--number-decoration, --default-decoration)));
		}
	}

	&.binary_ {
		color: var(--number-binary-fg, var(--number-fg, --default-fg));
		background-color: var(--number-binary-bg, var(--number-bg, --default-bg));
		font-style: var(--number-binary-style, var(--number-style, --default-style));
		font-weight: var(--number-binary-weight, var(--number-weight, --default-weight));
		text-decoration: var(--number-binary-decoration, var(--number-decoration, --default-decoration));

		&.prefix__ {
			color: var(--number-binary-prefix-fg, var(--number-prefix, var(--number-fg, --default-fg)));
			background-color: var(--number-binary-prefix-bg, var(--number-prefix, var(--number-bg, --default-bg)));
			font-style: var(--number-binary-prefix-style, var(--number-prefix, var(--number-style, --default-style)));
			font-weight: var(--number-binary-prefix-weight, var(--number-prefix, var(--number-weight, --default-weight)));
			text-decoration: var(--number-binary-prefix-decoration, var(--number-prefix, var(--number-decoration, --default-decoration)));
		}
	}

	&.hex_ {
		color: var(--number-hexadecimal-fg, var(--number-fg, --default-fg));
		background-color: var(--number-hexadecimal-bg, var(--number-bg, --default-bg));
		font-style: var(--number-hexadecimal-style, var(--number-style, --default-style));
		font-weight: var(--number-hexadecimal-weight, var(--number-weight, --default-weight));
		text-decoration: var(--number-hexadecimal-decoration, var(--number-decoration, --default-decoration));

		&.prefix__ {
			color: var(--number-hex-prefix-fg, var(--number-prefix, var(--number-fg, --default-fg)));
			background-color: var(--number-hex-prefix-bg, var(--number-prefix, var(--number-bg, --default-bg)));
			font-style: var(--number-hex-prefix-style, var(--number-prefix, var(--number-style, --default-style)));
			font-weight: var(--number-hex-prefix-weight, var(--number-prefix, var(--number-weight, --default-weight)));
			text-decoration: var(--number-hex-prefix-decoration, var(--number-prefix, var(--number-decoration, --default-decoration)));
		}
	}

	&.hexFloat_ {
		color: var(--number-hexFloat-fg, var(--number-fg, --default-fg));
		background-color: var(--number-hexFloat-bg, var(--number-bg, --default-bg));
		font-style: var(--number-hexFloat-style, var(--number-style, --default-style));
		font-weight: var(--number-hexFloat-weight, var(--number-weight, --default-weight));
		text-decoration: var(--number-hexFloat-decoration, var(--number-decoration, --default-decoration));

		&.prefix__ {
			color: var(--number-hexFloat-prefix-fg, var(--number-prefix, var(--number-fg, --default-fg)));
			background-color: var(--number-hexFloat-prefix-bg, var(--number-prefix, var(--number-bg, --default-bg)));
			font-style: var(--number-hexFloat-prefix-style, var(--number-prefix, var(--number-style, --default-style)));
			font-weight: var(--number-hexFloat-prefix-weight, var(--number-prefix, var(--number-weight, --default-weight)));
			text-decoration: var(--number-hexFloat-prefix-decoration, var(--number-prefix, var(--number-decoration, --default-decoration)));
		}
	}
}

.hljs-punctuation {
	color: var(--punctuation-fg, --default-fg);
	background-color: var(--punctuation-bg, --default-bg);
	font-style: var(--punctuation-style, --default-style);
	font-weight: var(--punctuation-weight, --default-weight);
	text-decoration: var(--punctuation-decoration, --default-decoration);

	&.backslash_ {
		color: var(--punctuation-backslash-fg, var(--punctuation-fg, --default-fg));
		background-color: var(--punctuation-backslash-bg, var(--punctuation-bg, --default-bg));
		font-style: var(--punctuation-backslash-style, var(--punctuation-style, --default-style));
		font-weight: var(--punctuation-backslash-weight, var(--punctuation-weight, --default-weight));
		text-decoration: var(--punctuation-backslash-decoration, var(--punctuation-decoration, --default-decoration));
	}

	&.forExpansionInvoke_ {
		color: var(--punctuation-forExpansionInvoke-fg, var(--punctuation-fg, --default-fg));
		background-color: var(--punctuation-forExpansionInvoke-bg, var(--punctuation-bg, --default-bg));
		font-style: var(--punctuation-forExpansionInvoke-style, var(--punctuation-style, --default-style));
		font-weight: var(--punctuation-forExpansionInvoke-weight, var(--punctuation-weight, --default-weight));
		text-decoration: var(--punctuation-forExpansionInvoke-decoration, var(--punctuation-decoration, --default-decoration));
	}
	&.quote_ {
		color: var(--punctuation-quote-fg, var(--punctuation-fg, --default-fg));
		background-color: var(--punctuation-quote-bg, var(--punctuation-bg, --default-bg));
		font-style: var(--punctuation-quote-style, var(--punctuation-style, --default-style));
		font-weight: var(--punctuation-quote-weight, var(--punctuation-weight, --default-weight));
		text-decoration: var(--punctuation-quote-decoration, var(--punctuation-decoration, --default-decoration));
	}
	&.directive__ {
		color: var(--punctuation-directive-fg, var(--punctuation-fg, --default-fg));
		background-color: var(--punctuation-directive-bg, var(--punctuation-bg, --default-bg));
		font-style: var(--punctuation-directive-style, var(--punctuation-style, --default-style));
		font-weight: var(--punctuation-directive-weight, var(--punctuation-weight, --default-weight));
		text-decoration: var(--punctuation-directive-decoration, var(--punctuation-decoration, --default-decoration));
	}

	&.asm__.size___ {
		color: var(--asm-size-punctuation-fg, var(--punctuation-fg, --default-fg));
		background-color: var(--asm-size-punctuation-bg, var(--punctuation-bg, --default-bg));
		font-style: var(--asm-size-punctuation-style, var(--punctuation-style, --default-style));
		font-weight: var(--asm-size-punctuation-weight, var(--punctuation-weight, --default-weight));
		text-decoration: var(--asm-size-punctuation-decoration, var(--punctuation-decoration, --default-decoration));

		&.dot_ {
			color: var(--asm-dot-size-punctuation-fg, var(--punctuation-dot-fg, var(--punctuation-fg, --default-fg)));
			background-color: var(--asm-dot-size-punctuation-bg, var(--punctuation-dot-bg, var(--punctuation-bg, --default-bg)));
			font-style: var(--asm-dot-size-punctuation-style, var(--punctuation-dot-style, var(--punctuation-style, --default-style)));
			font-weight: var(--asm-dot-size-punctuation-weight, var(--punctuation-dot-weight, var(--punctuation-weight, --default-weight)));
			text-decoration: var(--asm-dot-size-punctuation-decoration, var(--punctuation-dot-decoration, var(--punctuation-decoration, --default-decoration)));
		}

		&.clue_ {
			color: var(--asm-clue-size-punctuation-fg, var(--punctuation-clue-fg, var(--punctuation-fg, --default-fg)));
			background-color: var(--asm-clue-size-punctuation-bg, var(--punctuation-clue-bg, var(--punctuation-bg, --default-bg)));
			font-style: var(--asm-clue-size-punctuation-style, var(--punctuation-clue-style, var(--punctuation-style, --default-style)));
			font-weight: var(--asm-clue-size-punctuation-weight, var(--punctuation-clue-weight, var(--punctuation-weight, --default-weight)));
			text-decoration: var(--asm-clue-size-punctuation-decoration, var(--punctuation-clue-decoration, var(--punctuation-decoration, --default-decoration)));
		}
	}
}

.hljs-property {
	color: var(--field-fg, --default-fg);
	background-color: var(--field-bg, --default-bg);
	font-style: var(--field-style, --default-style);
	font-weight: var(--field-weight, --default-weight);
	text-decoration: var(--field-decoration, --default-decoration);

	&.constant_ {
		color: var(--field-constant-fg, var(--field-fg, --default-fg));
		background-color: var(--field-constant-bg, var(--field-bg, --default-bg));
		font-style: var(--field-constant-style, var(--field-style, --default-style));
		font-weight: var(--field-constant-weight, var(--field-weight, --default-weight));
		text-decoration: var(--field-constant-decoration, var(--field-decoration, --default-decoration));

		&.enum__ {
			color: var(--field-enum-fg, var(--field-constant-fg, var(--field-fg, --default-fg)));
			background-color: var(--field-enum-bg, var(--field-constant-bg, var(--field-bg, --default-bg)));
			font-style: var(--field-enum-style, var(--field-constant-style, var(--field-style, --default-style)));
			font-weight: var(--field-enum-weight, var(--field-constant-weight, var(--field-weight, --default-weight)));
			text-decoration: var(--field-enum-decoration, var(--field-constant-decoration, var(--field-decoration, --default-decoration)));
		}
	}
}

.hljs-string {
	color: var(--string-fg, --default-fg);
	background-color: var(--string-bg, --default-bg);
	font-style: var(--string-style, --default-style);
	font-weight: var(--string-weight, --default-weight);
	text-decoration: var(--string-decoration, --default-decoration);

	&.here_ {
		color: var(--string-here-fg, var(--string-fg, --default-fg));
		background-color: var(--string-here-bg, var(--string-bg, --default-bg));
		font-style: var(--string-here-style, var(--string-style, --default-style));
		font-weight: var(--string-here-weight, var(--string-weight, --default-weight));
		text-decoration: var(--string-here-decoration, var(--string-decoration, --default-decoration));
	}
	&.path_ {
		color: var(--string-path-fg, var(--string-fg, --default-fg));
		background-color: var(--string-path-bg, var(--string-bg, --default-bg));
		font-style: var(--string-path-style, var(--string-style, --default-style));
		font-weight: var(--string-path-weight, var(--string-weight, --default-weight));
		text-decoration: var(--string-path-decoration, var(--string-decoration, --default-decoration));
	}
}
.hljs-meta.stringTerminator_ {
	color: var(--string-here-termiator-fg, var(--string-fg, var(--string-fg, --default-fg)));
	background-color: var(--string-here-termiator-bg, var(--string-here-bg, var(--string-bg, --default-bg)));
	font-style: var(--string-here-termiator-style, var(--string-here-style, var(--string-style, --default-style)));
	font-weight: var(--string-here-termiator-weight, var(--string-here-weight, var(--string-weight, --default-weight)));
	text-decoration: var(--string-here-termiator-decoration, var(--string-here-decoration, var(--string-decoration, --default-decoration)));
}

.hljs-char.escape_ {
	color: var(--char-escape-fg, var(--string-fg, --default-fg));
	background-color: var(--char-escape-bg, var(--string-bg, --default-bg));
	font-style: var(--char-escape-style, var(--string-style, --default-style));
	font-weight: var(--char-escape-weight, var(--string-weight, --default-weight));
	text-decoration: var(--char-escape-decoration, var(--string-decoration, --default-decoration));
}
.hljs-subst {
	color: var(--subst-fg, var(--string-fg, --default-fg));
	background-color: var(--subst-bg, var(--string-bg, --default-bg));
	font-style: var(--subst-style, var(--string-style, --default-style));
	font-weight: var(--subst-weight, var(--string-weight, --default-weight));
	text-decoration: var(--subst-decoration, var(--string-decoration, --default-decoration));
}

.hljs .declaration_,
.hljs .declaration__ {
	color: var(--declaration-fg, --default-fg);
	background-color: var(--declaration-bg, --default-bg);
	font-style: var(--declaration-style, --default-style);
	font-weight: var(--declaration-weight, --default-weight);
	text-decoration: var(--declaration-decoration, --default-decoration);
}

.hljs-title.class_:not(.overridden) {
	color: var(--struct-fg, --default-fg);
	background-color: var(--struct-bg, --default-bg);
	font-style: var(--struct-style, --default-style);
	font-weight: var(--struct-weight, --default-weight);
	text-decoration: var(--struct-decoration, --default-decoration);

	&.inherited__ {
		color: var(--struct-inherited-fg, var(--struct-fg, --default-fg));
		background-color: var(--struct-inherited-bg, var(--struct-bg, --default-bg));
		font-style: var(--struct-inherited-style, var(--struct-style, --default-style));
		font-weight: var(--struct-inherited-weight, var(--struct-weight, --default-weight));
		text-decoration: var(--struct-inherited-decoration, var(--struct-decoration, --default-decoration));
	}
}
.hljs-title.function_ {
	color: var(--proc-fg, --default-fg);
	background-color: var(--proc-bg, --default-bg);
	font-style: var(--proc-style, --default-style);
	font-weight: var(--proc-weight, --default-weight);
	text-decoration: var(--proc-decoration, --default-decoration);

	&.forExpansion__ {
		color: var(--forExpansion-fg, var(--proc-fg, --default-fg));
		background-color: var(--forExpansion-bg, var(--proc-bg, --default-bg));
		font-style: var(--forExpansion-style, var(--proc-style, --default-style));
		font-weight: var(--forExpansion-weight, var(--proc-weight, --default-weight));
		text-decoration: var(--forExpansion-decoration, var(--proc-decoration, --default-decoration));
	}
}

.hljs-params {
	color: var(--params-fg, --default-fg);
	background-color: var(--params-bg, --default-bg);
	font-style: var(--params-style, --default-style);
	font-weight: var(--params-weight, --default-weight);
	text-decoration: var(--params-decoration, --default-decoration);

	/* Module Parameters: */
	&.moduleOrProgram_ {
		color: var(--module-params-fg, var(--params-fg, --default-fg));
		background-color: var(--module-params-bg, var(--params-bg, --default-bg));
		font-style: var(--module-params-style, var(--params-style, --default-style));
		font-weight: var(--module-params-weight, var(--params-weight, --default-weight));
		text-decoration: var(--module-params-decoration, var(--params-decoration, --default-decoration));

		/* Program Parameters: */
		& > .hljs-_BalancedParens:nth-of-type(2) {
			color: var(--program-params-fg, var(--params-fg, --default-fg));
			background-color: var(--program-params-bg, var(--params-bg, --default-bg));
			font-style: var(--program-params-style, var(--params-style, --default-style));
			font-weight: var(--program-params-weight, var(--params-weight, --default-weight));
			text-decoration: var(--program-params-decoration, var(--params-decoration, --default-decoration));
		}
	}
}

.hljs-comment {
	color: var(--comment-fg, --default-fg);
	background-color: var(--comment-bg, --default-bg);
	font-style: var(--comment-style, --default-style);
	font-weight: var(--comment-weight, --default-weight);
	text-decoration: var(--comment-decoration, --default-decoration);

	&.line_ {
		color: var(--comment-line-fg, var(--comment-fg, --default-fg));
		background-color: var(--comment-line-bg, var(--comment-bg, --default-bg));
		font-style: var(--comment-line-style, var(--comment-style, --default-style));
		font-weight: var(--comment-line-weight, var(--comment-weight, --default-weight));
		text-decoration: var(--comment-line-decoration, var(--comment-decoration, --default-decoration));
	}
	&.block_ {
		color: var(--comment-block-fg, var(--comment-fg, --default-fg));
		background-color: var(--comment-block-bg, var(--comment-bg, --default-bg));
		font-style: var(--comment-block-style, var(--comment-style, --default-style));
		font-weight: var(--comment-block-weight, var(--comment-weight, --default-weight));
		text-decoration: var(--comment-block-decoration, var(--comment-decoration, --default-decoration));
	}
}
.hljs-doctag {
	color: var(--doctag-fg, var(--comment-fg, --default-fg));
	background-color: var(--doctag-bg, var(--comment-bg, --default-bg));
	font-style: var(--doctag-style, var(--comment-style, --default-style));
	font-weight: var(--doctag-weight, var(--comment-weight, --default-weight));
	text-decoration: var(--doctag-decoration, var(--comment-decoration, --default-decoration));

	&.bug_ {
		color: var(--doctag-bug-fg, var(--doctag-fg, var(--comment-fg, --default-fg)));
		background-color: var(--doctag-bug-bg, var(--doctag-bg, var(--comment-bg, --default-bg)));
		font-style: var(--doctag-bug-style, var(--doctag-style, var(--comment-style, --default-style)));
		font-weight: var(--doctag-bug-weight, var(--doctag-weight, var(--comment-weight, --default-weight)));
		text-decoration: var(--doctag-bug-decoration, var(--doctag-decoration, var(--comment-decoration, --default-decoration)));
	}
	&.fixme_ {
		color: var(--doctag-fixme-fg, var(--doctag-fg, var(--comment-fg, --default-fg)));
		background-color: var(--doctag-fixme-bg, var(--doctag-bg, var(--comment-bg, --default-bg)));
		font-style: var(--doctag-fixme-style, var(--doctag-style, var(--comment-style, --default-style)));
		font-weight: var(--doctag-fixme-weight, var(--doctag-weight, var(--comment-weight, --default-weight)));
		text-decoration: var(--doctag-fixme-decoration, var(--doctag-decoration, var(--comment-decoration, --default-decoration)));
	}
	&.hack_ {
		color: var(--doctag-hack-fg, var(--doctag-fg, var(--comment-fg, --default-fg)));
		background-color: var(--doctag-hack-bg, var(--doctag-bg, var(--comment-bg, --default-bg)));
		font-style: var(--doctag-hack-style, var(--doctag-style, var(--comment-style, --default-style)));
		font-weight: var(--doctag-hack-weight, var(--doctag-weight, var(--comment-weight, --default-weight)));
		text-decoration: var(--doctag-hack-decoration, var(--doctag-decoration, var(--comment-decoration, --default-decoration)));
	}
	&.later_ {
		color: var(--doctag-later-fg, var(--doctag-fg, var(--comment-fg, --default-fg)));
		background-color: var(--doctag-later-bg, var(--doctag-bg, var(--comment-bg, --default-bg)));
		font-style: var(--doctag-later-style, var(--doctag-style, var(--comment-style, --default-style)));
		font-weight: var(--doctag-later-weight, var(--doctag-weight, var(--comment-weight, --default-weight)));
		text-decoration: var(--doctag-later-decoration, var(--doctag-decoration, var(--comment-decoration, --default-decoration)));
	}
	&.maybe_ {
		color: var(--doctag-maybe-fg, var(--doctag-fg, var(--comment-fg, --default-fg)));
		background-color: var(--doctag-maybe-bg, var(--doctag-bg, var(--comment-bg, --default-bg)));
		font-style: var(--doctag-maybe-style, var(--doctag-style, var(--comment-style, --default-style)));
		font-weight: var(--doctag-maybe-weight, var(--doctag-weight, var(--comment-weight, --default-weight)));
		text-decoration: var(--doctag-maybe-decoration, var(--doctag-decoration, var(--comment-decoration, --default-decoration)));
	}
	&.no_checkin_ {
		color: var(--doctag-no_checkin-fg, var(--doctag-fg, var(--comment-fg, --default-fg)));
		background-color: var(--doctag-no_checkin-bg, var(--doctag-bg, var(--comment-bg, --default-bg)));
		font-style: var(--doctag-no_checkin-style, var(--doctag-style, var(--comment-style, --default-style)));
		font-weight: var(--doctag-no_checkin-weight, var(--doctag-weight, var(--comment-weight, --default-weight)));
		text-decoration: var(--doctag-no_checkin-decoration, var(--doctag-decoration, var(--comment-decoration, --default-decoration)));
	}
	&.note_ {
		color: var(--doctag-note-fg, var(--doctag-fg, var(--comment-fg, --default-fg)));
		background-color: var(--doctag-note-bg, var(--doctag-bg, var(--comment-bg, --default-bg)));
		font-style: var(--doctag-note-style, var(--doctag-style, var(--comment-style, --default-style)));
		font-weight: var(--doctag-note-weight, var(--doctag-weight, var(--comment-weight, --default-weight)));
		text-decoration: var(--doctag-note-decoration, var(--doctag-decoration, var(--comment-decoration, --default-decoration)));
	}
	&.optimise_ {
		color: var(--doctag-optimise-fg, var(--doctag-fg, var(--comment-fg, --default-fg)));
		background-color: var(--doctag-optimise-bg, var(--doctag-bg, var(--comment-bg, --default-bg)));
		font-style: var(--doctag-optimise-style, var(--doctag-style, var(--comment-style, --default-style)));
		font-weight: var(--doctag-optimise-weight, var(--doctag-weight, var(--comment-weight, --default-weight)));
		text-decoration: var(--doctag-optimise-decoration, var(--doctag-decoration, var(--comment-decoration, --default-decoration)));
	}
	&.question_ {
		color: var(--doctag-question-fg, var(--doctag-fg, var(--comment-fg, --default-fg)));
		background-color: var(--doctag-question-bg, var(--doctag-bg, var(--comment-bg, --default-bg)));
		font-style: var(--doctag-question-style, var(--doctag-style, var(--comment-style, --default-style)));
		font-weight: var(--doctag-question-weight, var(--doctag-weight, var(--comment-weight, --default-weight)));
		text-decoration: var(--doctag-question-decoration, var(--doctag-decoration, var(--comment-decoration, --default-decoration)));
	}
	&.test_ {
		color: var(--doctag-test-fg, var(--doctag-fg, var(--comment-fg, --default-fg)));
		background-color: var(--doctag-test-bg, var(--doctag-bg, var(--comment-bg, --default-bg)));
		font-style: var(--doctag-test-style, var(--doctag-style, var(--comment-style, --default-style)));
		font-weight: var(--doctag-test-weight, var(--doctag-weight, var(--comment-weight, --default-weight)));
		text-decoration: var(--doctag-test-decoration, var(--doctag-decoration, var(--comment-decoration, --default-decoration)));
	}
	&.todo_ {
		color: var(--doctag-todo-fg, var(--doctag-fg, var(--comment-fg, --default-fg)));
		background-color: var(--doctag-todo-bg, var(--doctag-bg, var(--comment-bg, --default-bg)));
		font-style: var(--doctag-todo-style, var(--doctag-style, var(--comment-style, --default-style)));
		font-weight: var(--doctag-todo-weight, var(--doctag-weight, var(--comment-weight, --default-weight)));
		text-decoration: var(--doctag-todo-decoration, var(--doctag-decoration, var(--comment-decoration, --default-decoration)));
	}
	&.xxx_ {
		color: var(--doctag-xxx-fg, var(--doctag-fg, var(--comment-fg, --default-fg)));
		background-color: var(--doctag-xxx-bg, var(--doctag-bg, var(--comment-bg, --default-bg)));
		font-style: var(--doctag-xxx-style, var(--doctag-style, var(--comment-style, --default-style)));
		font-weight: var(--doctag-xxx-weight, var(--doctag-weight, var(--comment-weight, --default-weight)));
		text-decoration: var(--doctag-xxx-decoration, var(--doctag-decoration, var(--comment-decoration, --default-decoration)));
	}

	&.reminder_ {
		color: var(--doctag-reminder-fg, var(--doctag-fg, var(--comment-fg, --default-fg)));
		background-color: var(--doctag-reminder-bg, var(--doctag-bg, var(--comment-bg, --default-bg)));
		font-style: var(--doctag-reminder-style, var(--doctag-style, var(--comment-style, --default-style)));
		font-weight: var(--doctag-reminder-weight, var(--doctag-weight, var(--comment-weight, --default-weight)));
		text-decoration: var(--doctag-reminder-decoration, var(--doctag-decoration, var(--comment-decoration, --default-decoration)));
	}
	&.label_ {
		color: var(--doctag-label-fg, var(--doctag-fg, var(--comment-fg, --default-fg)));
		background-color: var(--doctag-label-bg, var(--doctag-bg, var(--comment-bg, --default-bg)));
		font-style: var(--doctag-label-style, var(--doctag-style, var(--comment-style, --default-style)));
		font-weight: var(--doctag-label-weight, var(--doctag-weight, var(--comment-weight, --default-weight)));
		text-decoration: var(--doctag-label-decoration, var(--doctag-decoration, var(--comment-decoration, --default-decoration)));
	}
}

.hljs-meta {
	color: var(--meta-fg, --default-fg);
	background-color: var(--meta-bg, --default-bg);
	font-style: var(--meta-style, --default-style);
	font-weight: var(--meta-weight, --default-weight);
	text-decoration: var(--meta-decoration, --default-decoration);

	& > .hljs-punctuation.comma_ {
		color: var(--meta-comma-fg, var(--punctuation-fg, --default-fg));
		background-color: var(--meta-comma-bg, var(--punctuation-bg, --default-bg));
		font-style: var(--meta-comma-style, var(--punctuation-style, --default-style));
		font-weight: var(--meta-comma-weight, var(--punctuation-weight, --default-weight));
		text-decoration: var(--meta-comma-decoration, var(--punctuation-decoration, --default-decoration));
	}

	&.directive_{
		color: var(--directive-fg, var(--meta-fg, --default-fg));
		background-color: var(--directive-bg, var(--meta-bg, --default-bg));
		font-style: var(--directive-style, var(--meta-style, --default-style));
		font-weight: var(--directive-weight, var(--meta-weight, --default-weight));
		text-decoration: var(--directive-decoration, var(--meta-decoration, --default-decoration));

		&.modifier__ {
			color: var(--directive-modifier-fg, var(--directive-fg, var(--meta-fg, --default-fg)));
			background-color: var(--directive-modifier-bg, var(--directive-bg, var(--meta-bg, --default-bg)));
			font-style: var(--directive-modifier-style, var(--directive-style, var(--meta-style, --default-style)));
			font-weight: var(--directive-modifier-weight, var(--directive-weight, var(--meta-weight, --default-weight)));
			text-decoration: var(--directive-modifier-decoration, var(--directive-decoration, var(--meta-decoration, --default-decoration)));
		}
		&.import__ {
			color: var(--directive-import-fg, var(--directive-fg, var(--meta-fg, --default-fg)));
			background-color: var(--directive-import-bg, var(--directive-bg, var(--meta-bg, --default-bg)));
			font-style: var(--directive-import-style, var(--directive-style, var(--meta-style, --default-style)));
			font-weight: var(--directive-import-weight, var(--directive-weight, var(--meta-weight, --default-weight)));
			text-decoration: var(--directive-import-decoration, var(--directive-decoration, var(--meta-decoration, --default-decoration)));
		}
		&.modify__ {
			color: var(--directive-modify-fg, var(--directive-fg, var(--meta-fg, --default-fg)));
			background-color: var(--directive-modify-bg, var(--directive-bg, var(--meta-bg, --default-bg)));
			font-style: var(--directive-modify-style, var(--directive-style, var(--meta-style, --default-style)));
			font-weight: var(--directive-modify-weight, var(--directive-weight, var(--meta-weight, --default-weight)));
			text-decoration: var(--directive-modify-decoration, var(--directive-decoration, var(--meta-decoration, --default-decoration)));
		}
		&.module_parameters__ {
			color: var(--directive-module_parameters-fg, var(--directive-fg, var(--meta-fg, --default-fg)));
			background-color: var(--directive-module_parameters-bg, var(--directive-bg, var(--meta-bg, --default-bg)));
			font-style: var(--directive-module_parameters-style, var(--directive-style, var(--meta-style, --default-style)));
			font-weight: var(--directive-module_parameters-weight, var(--directive-weight, var(--meta-weight, --default-weight)));
			text-decoration: var(--directive-module_parameters-decoration, var(--directive-decoration, var(--meta-decoration, --default-decoration)));
		}

		&.asm__ {
			color: var(--asm-directive-fg, var(--directive-fg, var(--meta-fg, --default-fg)));
			background-color: var(--asm-directive-bg, var(--directive-bg, var(--meta-bg, --default-bg)));
			font-style: var(--asm-directive-style, var(--directive-style, var(--meta-style, --default-style)));
			font-weight: var(--asm-directive-weight, var(--directive-weight, var(--meta-weight, --default-weight)));
			text-decoration: var(--asm-directive-decoration, var(--directive-decoration, var(--meta-decoration, --default-decoration)));

			&.flags___ {
				color: var(--asm-directive-flags-fg, var(--directive-modifier, var(--directive-fg, var(--meta-fg, --default-fg))));
				background-color: var(--asm-directive-flags-bg, var(--directive-modifier, var(--directive-bg, var(--meta-bg, --default-bg))));
				font-style: var(--asm-directive-flags-style, var(--directive-modifier, var(--directive-style, var(--meta-style, --default-style))));
				font-weight: var(--asm-directive-flags-weight, var(--directive-modifier, var(--directive-weight, var(--meta-weight, --default-weight))));
				text-decoration: var(--asm-directive-flags-decoration, var(--directive-modifier, var(--directive-decoration, var(--meta-decoration, --default-decoration))));

				& .comma_ {
					color: var(--asm-directive-flags-comma-fg, var(--meta-comma, var(--punctuation-fg, --default-fg)));
					background-color: var(--asm-directive-flags-comma-bg, var(--meta-comma, var(--punctuation-bg, --default-bg)));
					font-style: var(--asm-directive-flags-comma-style, var(--meta-comma, var(--punctuation-style, --default-style)));
					font-weight: var(--asm-directive-flags-comma-weight, var(--meta-comma, var(--punctuation-weight, --default-weight)));
					text-decoration: var(--asm-directive-flags-comma-decoration, var(--meta-comma, var(--punctuation-decoration, --default-decoration)));
				}
			}

			&.flag___ {
				color: var(--asm-directive-flag-fg, var(--asm-directive-flags-fg, var(--directive-modifier, var(--directive-fg, var(--meta-fg, --default-fg)))));
				background-color: var(--asm-directive-flag-bg, var(--asm-directive-flags-bg, var(--directive-modifier, var(--directive-bg, var(--meta-bg, --default-bg)))));
				font-style: var(--asm-directive-flag-style, var(--asm-directive-flags-style, var(--directive-modifier, var(--directive-style, var(--meta-style, --default-style)))));
				font-weight: var(--asm-directive-flag-weight, var(--asm-directive-flags-weight, var(--directive-modifier, var(--directive-weight, var(--meta-weight, --default-weight)))));
				text-decoration: var(--asm-directive-flag-decoration, var(--asm-directive-flags-decoration, var(--directive-modifier, var(--directive-decoration, var(--meta-decoration, --default-decoration)))));
			}

			&.block___ {
				color: var(--asm-directive-block-fg, var(--asm-directive-fg, var(--directive-fg, var(--meta-fg, --default-fg))));
				background-color: var(--asm-directive-block-bg, var(--asm-directive-bg, var(--directive-bg, var(--meta-bg, --default-bg))));
				font-style: var(--asm-directive-block-style, var(--asm-directive-style, var(--directive-style, var(--meta-style, --default-style))));
				font-weight: var(--asm-directive-block-weight, var(--asm-directive-weight, var(--directive-weight, var(--meta-weight, --default-weight))));
				text-decoration: var(--asm-directive-block-decoration, var(--asm-directive-decoration, var(--directive-decoration, var(--meta-decoration, --default-decoration))));
			}
		}
	}

	&.keyword_.asm__.register___ {
		color: var(--asm-register-fg, var(--keyword-fg, --default-fg));
		background-color: var(--asm-register-bg, var(--keyword-bg, --default-bg));
		font-style: var(--asm-register-style, var(--keyword-style, --default-style));
		font-weight: var(--asm-register-weight, var(--keyword-weight, --default-weight));
		text-decoration: var(--asm-register-decoration, var(--keyword-decoration, --default-decoration));
	}

	&.note_ {
		color: var(--note-fg, var(--meta-fg, --default-fg));
		background-color: var(--note-bg, var(--meta-bg, --default-bg));
		font-style: var(--note-style, var(--meta-style, --default-style));
		font-weight: var(--note-weight, var(--meta-weight, --default-weight));
		text-decoration: var(--note-decoration, var(--meta-decoration, --default-decoration));
	}
}

.hljs-symbol {
	color: var(--asm-mnemonic-fg, --default-fg);
	background-color: var(--asm-mnemonic-bg, --default-bg);
	font-style: var(--asm-mnemonic-style, --default-style);
	font-weight: var(--asm-mnemonic-weight, --default-weight);
	text-decoration: var(--asm-mnemonic-decoration, --default-decoration);

	&.size_ {
		color: var(--asm-size-fg, var(--asm-mnemonic-fg, --default-fg));
		background-color: var(--asm-size-bg, var(--asm-mnemonic-bg, --default-bg));
		font-style: var(--asm-size-style, var(--asm-mnemonic-style, --default-style));
		font-weight: var(--asm-size-weight, var(--asm-mnemonic-weight, --default-weight));
		text-decoration: var(--asm-size-decoration, var(--asm-mnemonic-decoration, --default-decoration));

		&.const__ {
			color: var(--asm-size-const-fg, var(--asm-size-fg, var(--asm-mnemonic-fg, --default-fg)));
			background-color: var(--asm-size-const-bg, var(--asm-size-bg, var(--asm-mnemonic-bg, --default-bg)));
			font-style: var(--asm-size-const-style, var(--asm-size-style, var(--asm-mnemonic-style, --default-style)));
			font-weight: var(--asm-size-const-weight, var(--asm-size-weight, var(--asm-mnemonic-weight, --default-weight)));
			text-decoration: var(--asm-size-const-decoration, var(--asm-size-decoration, var(--asm-mnemonic-decoration, --default-decoration)));
		}
		&.type__ {
			color: var(--asm-size-type-fg, var(--asm-size-fg, var(--asm-mnemonic-fg, --default-fg)));
			background-color: var(--asm-size-type-bg, var(--asm-size-bg, var(--asm-mnemonic-bg, --default-bg)));
			font-style: var(--asm-size-type-style, var(--asm-size-style, var(--asm-mnemonic-style, --default-style)));
			font-weight: var(--asm-size-type-weight, var(--asm-size-weight, var(--asm-mnemonic-weight, --default-weight)));
			text-decoration: var(--asm-size-type-decoration, var(--asm-size-decoration, var(--asm-mnemonic-decoration, --default-decoration)));
		}
	}
}
