.language-jai {
	color: white;
	background-color: black;
	tab-size: 4;
}

/*
//TODO: vars
*/

.hljs-keyword {
	color: #00F;

	&.cast_ {
		color: #FFF;

		& > .hljs-_BalancedParens {
			color: #FFF;

			& > .hljs-punctuation.paren_,
			& > .hljs-punctuation.comma_ { color: #FFF; }
		}

		&.v1__ { background-color: #222; }
		&.v2__ { background-color: #300; }
	}
}
.hljs-operator.cast_.v3__ {
	color: #F88;
	background-color: #003;

	& > .hljs-_BalancedParens {
		color: #F88;

		& > .hljs-punctuation.paren_,
		& > .hljs-punctuation.comma_ { color: #F88; }
	}
}

.hljs-variable {
	color: #BBB;

	&.language_ { color: #C8C; }
	&.constant_ {
		color: #8FF;

		&.enum__ { font-style: italic; }
	}

	&.stdLib_ {
		color: #CF8;

		&.constant___ { color: #0DD; }
		&.context___ { color: #C63; }
		&.moduleParam___ { color: #FCC; }
		&.programParam___ { color: #CCF; }
	}
	&.context_ {
		color: #C43;

		&.constant__ { color: #CC0; }
	}
}

.hljs-built_in {
	color: #80F;

	&.special { color: #8F0; }
	&.stdLib_ { color: #FC8; }
}

.hljs-type {
	color: #088;

	&.enum_ { color: #0AC; }
	&.baked_ {
		color: #0CC;
		font-style: italic;
	}
}

.hljs-literal { color: #FF0; }

.hljs-number { color: #88F; }

.hljs-operator {
	color: #F00;

	&.bake_ {
		color: #F88;
		font-style: italic;
	}
}

.hljs-punctuation {
	color: #666;

	&.forExpansionInvoke_ { color: #A50; }
	&.quote_ { color: #C6C; }
	&.directive__ { color: #FFF; }
}

.hljs-property { color: purple; }

.hljs-string {
	color: #F0F;

	&.here_ { background-color: #303; }
	&.path_ {
		text-decoration: underline;

		&.import__ { text-decoration: underline; }
	}
}
.hljs-meta.stringTerminator_ {
	color: white;
	background-color: #808;
}

.hljs-char.escape_ { background-color: #330; }
.hljs-subst { color: #0FF; }

.hljs .declaration_,
	.hljs .declaration__:not(.enum_),
	.hljs-type.enum_:not(.declaration__) { font-style: italic; }

.hljs-title.class_ {
	color: #880;

	&.inherited__ { text-decoration: underline; }
}
.hljs-title.function_ {
	color: #F80;

	&.forExpansion__ { color: #F40; }
}

.hljs-params { background-color: #400; }

/* Module Parameters: */
.hljs-params.moduleOrProgram_ {
	background-color: #044;

	/* Program Parameters: */
	& > .hljs-_BalancedParens:nth-of-type(2) { background-color: #004; }
}

.hljs-comment {
	color: #080;
	font-weight: normal;

	/*&.line { }*/
	&.block_ {
		color: #090;
		background-color: #030;
	}
}
.hljs-doctag {
	background-color: #008;
	font-weight: bold;

	&.no_checkin_ { color: red; }
}

.hljs-meta:not(.asm__) {
	color: #F68;
	background-color: #660;

	& > .hljs-punctuation.comma_ {
		color: #888;
		background-color: #440;
	}
}

.hljs-meta.directive_ {
	&:not(.asm__) {
		color: #FFA;
		background-color: #440;
	}

	&.modifier__ { color: #CC0; }
	&.import__ { color: #CC0; }
	&.module_parameters__ { color: #0CC; }
}

/* #asm */
.hljs-punctuation.asm__.size___ { color: #FF0; }
.hljs-symbol {
	color: #FDA;

	&.size_ {
		color: #FAA;

		&.const__ { color: #8FF; }
		&.type__ { color: #6AA; }
	}
}
.hljs-meta.directive_.asm__ {
	color: #0CC;

	&.flags___ {
		background-color: #066;

		& .comma_ { color: #FFF; }
	}
	&.flag___ { color: #6C6; }
	&.block___ {
		background-color: #222;
	}
}
.hljs-meta.keyword_.asm__.register___ {
	color: #FFF;
	background-color: #80F;
}

.hljs-meta.note_ {
	color: #000;
	background-color: #CCC;
}

/*meta.prompts
.hljs-meta .hljs-keyword  //TODO: use these?
.hljs-meta .hljs-string*/
